# dependencies
/node_modules
/.vs
/.pnp
.pnp.js

# testing
/coverage

# misc
README.md
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.gitignore
.prettierrc
.dockerignore
.editorconfig
.commitlintrc.json

# debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# other files
**/Dockerfile*
**/docker-compose*

# other directories
**/.settings
**/.vscode
**/.husky
**/.git
